@charset "utf-8";
html,body,p,h1,h2,h3,input,li,ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
ul,li{
	list-style: none;
}
i,em{
	font-style: normal;
}
body{
	font-family: "微软雅黑","Microsoft YaHei";
}
input[type="button"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="text"],button,textarea{-webkit-appearance:none;border: 0;}
input[type="tel"],input[type="text"],input[type="button"],input[disabled]{outline: 0; background-color: transparent;-webkit-tap-highlight-color:rgba(0,0,0,0);}
::-webkit-input-placeholder{
     color: #814900;
}
input[type="button"]{
	color: white;
}


div.mybag_top{
	width:100%;
	height:100%;
	background: url('../img/mybag_bg.png?v=1') no-repeat top left;
	background-size:100% 100%;
	position:relative;
	overflow:hidden;
	transition: all 1s
}
div.mybag_top img.logo{
	width:6rem;
	position:absolute;
	top:1rem;
	left:0.6rem;
}
div.mybag_top p{
	text-align: left;
	width:80%;
	margin-left:3rem;
}
div.mybag_top p.title{
	margin-top:5rem;
	color:#00974a;
	font-size:1.1rem;
	font-weight:600;
	text-align: center;
	width:100%;
	margin-left: 0;
}
div.mybag_top #bottle_num{
	font-size:1.5rem;
}
div.mybag_top p.tx{
	margin-top:2.5rem;
	color:#9d6b00;
	font-size:0.8rem;
}
div.mybag_top p.tx img{
	width:1.5rem;
	margin-right:0.5rem;
}
div.mybag_top p.tx span{
	font-size:1.4rem;
	color:#e71000;
	font-weight:600;
}
div.mybag_top p.tx span:nth-of-type(2){
	font-size:0.8rem;
}
div.mybag_top p.balance{
	margin-top:0.8rem;
	color:#9d6b00;
	font-size:0.8rem;
}
div.mybag_top p.balance img{
	width:1.2rem;
	margin-right:0.8rem;
	vertical-align: sub;
}
div.mybag_top p.balance span{
	font-size:1.4rem;
	color:#f7ab00;
}
div.mybag_top p.balance span:nth-of-type(2){
	font-size:0.8rem;
}
div.mybag_top p.sent{
	margin-top:0.8rem;
	color:#9d6b00;
	font-size:0.8rem;
	margin-left:3.1rem;
}
div.mybag_top p.sent img{
	width:1rem;
	margin-right:0.9rem;
	vertical-align: sub;
}
div.mybag_top p.sent span{
	font-size:1.4rem;
	color:#f7ab00;
}
div.mybag_top p.sent span:nth-of-type(2){
	font-size:0.8rem;
}

div.mybag_top div.btn{
	width:60%;
	margin:2rem auto 0;
}
div.mybag_top div.btn #tx_btn{
	display:block;
	float:left;
	width:45%;
	height:2.3rem;
	background-color: #f7ab00;
	margin:0 auto;
	border-radius:10px;
	-webkit-border-radius:10px;
	font-size:0.75rem;
}
div.mybag_top div.btn #show{
	display:block;
	float: right;
	width:45%;
	height:2.3rem;
	background-color: #f7ab00;
	margin:0 auto;
	border-radius:10px;
	-webkit-border-radius:10px;
	font-size:0.75rem;
}



div.mybag_bottom{
	width: 100%;
	height: 100%;
	background: #209345;
}
div.mybag_bottom div.record{
	width: 89%;
	height: 100%;
	padding-bottom: 1rem;
	overflow-x: hidden;
	-webkit-overflow-scrolling : touch;
	position: relative;
	left: 5.5%;
	top: 0;
}
div.mybag_bottom div.record input{
	width: 100%;
	height: 1.95rem;
	margin: 1.05rem 0;
	border-radius:0.5rem;
	-webkit-border-radius: 0.5rem;	
	background:#f7ab00 url(../img/mybag-gotop.png?v=1.0.2) no-repeat center;
	background-size: auto 100%;
	float: left;
}
div.mybag_bottom div.record ul{
	width: 100%;
	overflow:hidden;
	margin-bottom: 0.6rem;
	border-top: 1px #67be8b solid;
}
div.mybag_bottom div.record ul li{
	border-bottom: 1px #67be8b solid;
	padding: 0.2rem 0;
	overflow: hidden;
}
div.mybag_bottom div.record ul li p.title{
	float: left;
	line-height: 0.75rem;
}
div.mybag_bottom div.record ul li p.title span:nth-of-type(1){
	color: #FFFFFF;
	font-size: 0.7rem;
}
div.mybag_bottom div.record ul li p.title span:nth-of-type(2){
	color: #FFFFFF;
	font-size: 0.6rem;
}
div.mybag_bottom div.record ul li p.money{
	float: right;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #FFFFFF;
}
div.mybag_bottom div.record ul li p.money span:nth-of-type(1){
	font-size: 1.1rem;
}
div.mybag_bottom div.record p.getmore{
	text-align: center;
	margin: 1rem 0;
	color: #FFFFFF;
	display: none;
}
#no_list{
	text-align: center;
	margin: 1rem 0;
	color: #FFFFFF;
	display: none;
}

@media only screen and (max-height:550px) and (min-width:321px) {
	div.mybag_top p.title{
		margin-top:3.5rem;
	}
	div.mybag_top p.tx{
		margin-top:1rem;
	}
}
@media only screen and (max-height:440px) and (min-width:320px) {
	div.mybag_top p.title{
		margin-top:3rem;
	}
	div.mybag_top p.tx{
		margin-top:1rem;
	}
}