@charset "utf-8";
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: '微软雅黑';
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0; padding:0;}
img{border:none}
table {border-collapse: collapse; border-spacing:0;}
a:link,a:visited,a:hover,a:active{
     text-decoration:none;
}
.bg{
	background: url('../img/bg4.png?v=2.0.2') no-repeat left top;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
.mark{
	width:100%;
	height: 100%;
	background-color: rgb(0,0,1);
	opacity: 0.2;
	position: absolute;
	z-index: 10;
}
#slogn{
	display: block;
	width: 80%;
	margin:6% auto 0;
}
#logo{
	display: block;
	width: 32%;
	margin:6% 0 0 7%;
}
#hb{
	width: 60%;
	height: 50%;
	background: url('../img/hb_fail.png?v=1.0.2') no-repeat top left;
	background-size: 100% auto;
	position: absolute;
	left: 20%;
	top: 28%;
	overflow: hidden;
	z-index: 100;
}
#hb p{
	margin:43% auto;
	color: #e60012;
	text-align: center;
	font-weight: 800;
}
.footer{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
}
@media only screen and (max-device-height:640px ){
	#slogn{
		margin:3% auto;
	}
	#hb{
		left: 22.5%;
		width:55%;
		top: 25%;
	}
}
@media only screen and (max-device-height:480px ){
	.footer{
		height: 35%;
	}
	#hb{
		left: 24%;
		width:50%;
		top: 25%;
	}
	#slogn{
		margin:0 auto;
	}
}