@charset "utf-8";
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: '微软雅黑';
	background:url('../img/bg.png') no-repeat left top;
	background-size:100% 100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0; padding:0;}
img{border:none}
table {border-collapse: collapse; border-spacing:0;}
a:link,a:visited,a:hover,a:active{
     text-decoration:none;
}

img.logo{
	width:3.5rem;
	position:absolute;
	top:1rem;
	left:1rem;
}
img.tree{
	width:100%;
	position:absolute;
	top:0;
}
div{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top:0;
	left:0;
}
#contant{
	width:90%;
	display:block;
	margin:3rem auto 0;
}
@media only screen and (max-height:600px) and (min-width:361px) {
	#contant{
		margin:2rem auto 0;
	}
}
@media only screen and (max-height:580px) and (min-width:360px) {
	#contant{
		margin:2.5rem auto 0;
	}
}
@media only screen and (max-height:560px) and (min-width:360px) {
	#contant{
		width:85%;
		margin:2rem auto 0;
	}
}
@media only screen and (max-height:520px) {
	#contant{
		width:70%;
		margin:2rem auto 0;
	}
}
@media only screen and (max-height:440px) {
	#contant{
		width:70%;
		margin:2rem auto 0;
	}
}