@charset "utf-8";
html,
body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑", "Microsoft YaHei";
    overflow: hidden;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

img {
    border: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}


/* 屏蔽苹果手机更改样式 */

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="tel"],
input[type="text"],
button,
textarea {
    -webkit-appearance: none;
}

input[type="tel"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="tel"],
input[type="text"] {
    outline: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 1;
    -webkit-opacity: 1;
}
body{
	background: #f3f3f3;
	/* background: url(../img/bg-repeat.png) repeat top left; */
	/* background-size: 2.2rem; */
}
p,div,input,span{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);
	-o-tap-highlight-color:rgba(0, 0, 0, 0);
	tap-highlight-color:rgba(0, 0, 0, 0);
}
#content{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,.9);
	text-align: center;
}
#fail{
	width: 16rem;
    height: 16.25rem;
    background: url(../img/fail-bg.png) no-repeat center;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    margin: 2.5rem auto 1rem;
    overflow: hidden;
}

@media only screen and (min-aspect-ratio:320/480) {
	#fail>div{
		margin-top: 6rem!important;
	}
	/* #fail>div p{
		font-size:.4rem !important;
	} */
	#fail{
		height: 15rem;
		margin: 2.5rem auto .6rem;
	}
    .failResult{
		margin: 4rem auto 0 !important;
		font-size: 1rem !important;
	}
}
#fail>div{
	width: 101%;
	overflow: hidden;
	/* background: url(../img/fail-content.png) no-repeat center; */
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	transform: translateX(-0.05rem);
	overflow: hidden;
	margin-top: 7.4rem;
}

#fail .failResult{
	display: block;
    height: 1.6rem;
    margin: 3.2rem auto 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}
#fail .failResult.h{
	height: 3rem;
}

#fail>div p{
	font-size: .6rem;
    color: #fff;
	line-height: 1rem;
    margin: 0 auto 1.3rem;
}
#fail>p{
	font-size: .6rem;
    color: #fff;
	line-height: .527rem;
	margin: .6rem auto 1.3rem;
}
.icon-close{
	background: url(../img/icon-close.png) no-repeat center;
	-webkit-background-size: 1.625rem 1.625rem;	
	background-size: 1.625rem 1.625rem;
	width: 1.625rem;
	height: 1.625rem;
	margin: 0 auto;
}
/*全面屏*/
.screen #fail{
	margin: 6rem auto 1.6rem;
}