@charset "utf-8";
html,
body,
p,
h1,
h2,
h3,
input,
li,
ul {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

ul,
li {
    list-style: none;
}

i,
em {
    font-style: normal;
}

body {
    font-family: "微软雅黑", "Microsoft YaHei";
    background: url(../img/vocal-bg.png?v=1) no-repeat left top;
    background-size: 100%;
    -webkit-background-size: 100%;
    color: white;
    overflow: hidden;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="tel"],
input[type="text"],
button,
textarea {
    -webkit-appearance: none;
    border: 0;
}

input[type="tel"],
input[type="text"],
input[type="button"],
input[disabled] {
    outline: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "微软雅黑";
}

::-webkit-input-placeholder {
    color: #814900;
}

input[type="button"] {
    color: white;
}

.l {
    float: left;
}

div.content {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 101;
    overflow-x: hidden;
    display: none;
    background-color: rgba(0,0,0,0.7);
}

div.mark {
    height: 12.5rem;
    width: 100%;
    position: relative;
}

div.mark img {
    position: static;
    display: block;
    width: 90%;
    margin: 3.5rem auto 0;
}

div.mark img.stub {
    width: 11rem;
    bottom: 0;
    left: 50%;
    margin-left: -5.5rem;
    z-index: 1;
}

div.mark img.slogan {
    width: 11.2rem;
    top: 1.8rem;
    left: 3.2rem;
    z-index: 1;
}

#dj {
    width: 7.8rem;
    height: 1.9rem;
    display: block;
    margin: 1.6rem auto;
    background: #ffd46c;
    -webkit-border-radius: 0.5rem;
    color: #882700;
    font-size: 0.875rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

#tip {
    text-align: center;
    font-size: 0.6rem;
    color: #FFFFFF;
}

div.mark img.green-flower {
    left: 0.75rem;
    width: 5.5rem;
    top: 3.25rem;
    z-index: 2;
    -webkit-transform: scale(0);
    -webkit-transition: all 2s ease 0.75s;
}

div.mark img.green {
    left: 3.2rem;
    width: 0.4rem;
    bottom: 2rem;
    /*bottom: 9rem;*/
    -webkit-transition: all 0.8s;
}

div.mark img.blue-flower {
    width: 3.95rem;
    top: 7.3rem;
    right: 0.75rem;
    -webkit-transform: scale(0);
    -webkit-transition: all 2s ease 0.75s;
}

div.mark img.blue {
    width: .3rem;
    bottom: 1rem;
    right: 2.25rem;
    /*bottom: 6.5rem;*/
    -webkit-transition: all 0.8s;
}

div.mark img.pink-flower {
    width: 3.5rem;
    top: 1.2rem;
    right: 3rem;
    -webkit-transform: scale(0);
    -webkit-transition: all 2s ease 0.75s;
}

div.mark img.pink {
    width: 0.3rem;
    bottom: 1.2rem;
    /*bottom: 12.3rem;*/
    right: 4.57rem;
    -webkit-transition: all 0.8s;
}

div.mark img.scale {
    -webkit-transform: scale(1.1);
}

div.mark img.p {
    bottom: 12.3rem;
    opacity: 0;
}

div.mark img.g {
    bottom: 9rem;
    opacity: 0;
}

div.mark img.b {
    bottom: 6.5rem;
    opacity: 0;
}

div.msg_box {
    width: 100%;
    background: #209345 url(../img/prize-top.png?v=2) no-repeat left top;
    -webkit-background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

#look {
    font-size: 0.6rem;
    color: white;
    position: absolute;
    top: 9.5rem;
    text-align: center;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

div.shuoming2 {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

#shuoming2 {
    width: 14rem;
    position: absolute;
    left: 50%;
    margin-left: -6.8rem;
    top: 2rem;
}

@media only screen and (max-height: 480px) {
    #shuoming2 {
        top: 1rem;
    }
}

#msglist {
    margin: 12.3rem auto 0;
    overflow: hidden;
    width: 13.1rem;
    font-size: 0.7rem;
}

#msglist img {
    width: 100%;
}

#msglist p {
    border-bottom: 1px #FFFFFF solid;
    overflow: hidden;
}

#msglist p.user_box {
    border-top: 1px #FFFFFF solid;
}

#msglist p span,
a,
input {
    height: 2rem;
    line-height: 2rem;
    color: white;
}

#msglist p span {
    padding: 0 0.2rem;
}

#msglist p input {
    font-size: 0.6rem;
}

#tel {
    width: 50%;
}

#user {
    font-size: 0.7rem;
    width: 50%;
}

#id {
    width: 50%;
}

#yzcode {
    width: 3rem;
}

#get_yz {
    color: #ffd56c;
    height: 100%;
    width: 3.8rem;
    float: right;
    text-align: center;
    padding-left: 0.2rem;
    border-left: 1px #FFFFFF solid;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

#tj {
    width: 7.8rem;
    height: 1.9rem;
    display: block;
    margin: 1.2rem auto;
    background: #ffd46c;
    -webkit-border-radius: 0.5rem;
    color: #882700;
    font-size: 0.875rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

p.tip {
    font-size: 0.53rem;
    text-align: center;
}

p.shuom {
    margin: 0.6rem auto 1rem;
    text-align: center;
}

p.shuom a {
    color: #ffd56c;
    font-size: 0.7rem;
    padding: 0 0.5rem;
}

#active {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 30000;
    left: 0;
    top: 0;
    display: none;
}

#active img {
    width: 100%;
    height: 100%;
}

#active i {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-align: center;
    line-height: 1rem;
    border: 1px #FFFFFF solid;
    -webkit-border-radius: 50%;
    color: #FFFFFF;
    overflow: hidden;
}