@charset "utf-8";
html,body,img,p,a,span,input,ul,li{
	margin: 0;
	padding: 0;
}
i,em{
	font-style: normal;
}
ul,li{
	list-style: none;
}
body,html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #fed40c;
	font-family: "微软雅黑";
}
input[type="button"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="text"],button,textarea{-webkit-appearance:none;border: 0;}
input[type="tel"],input[type="text"],input[type="button"],input[disabled]{outline: 0; background-color: transparent;-webkit-tap-highlight-color:rgba(0,0,0,0);font-family: "微软雅黑";}
::-webkit-input-placeholder{
     color: #814900;
}
div.details{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	text-align: center;
}
div.details img.logo{
	position: absolute;
	left: 1rem;
	width: 2.5rem;
	top: 1rem;
}
div.details div.bottleNum{
	width: 14.7rem;
	float: right;
	height: 9.15rem;
	background: url(../images/my_bottle_bg.png) no-repeat center;
	-webkit-background-size: 100%;
	margin-top: 1.6rem;
	position: relative;
}
div.details div.bottleNum span{
	position: absolute;
	left: 3.4rem;
	top: 4rem;
	font-size: 1.7rem;
	color: #000000;
	font-weight: bold;
}
div.details p span{
	font-size: 1.3rem;
	font-weight: bold;
	color: #333333;
}
div.details p .icon{
	font-weight:normal;
	font-size: 1rem;
	padding-left: 1.6rem;
	background: url(../images/icon_bag.png) no-repeat left;
	-webkit-background-size: auto 1rem;
}
div.details p.balance .icon{
	background: url(../images/icon_money.png) no-repeat left;
	-webkit-background-size: auto 1rem;
}
div.details p.balance{
	margin: 1rem  0 0 0; 
}
div.details p.button{
	padding: 1rem 0 .8rem 0;
}
div.details p.button input{
	width: 7.5rem;
	height: 2.6rem;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);
	-o-tap-highlight-color:rgba(0, 0, 0, 0);
	tap-highlight-color:rgba(0, 0, 0, 0);
}
#details{
	background:url(../images/button_5.png) no-repeat center;
	-webkit-background-size: 100%;
}
#toBarrel{
	background:url(../images/button_6.png) no-repeat center;
	-webkit-background-size: 100%;
}
div.details p.tip{
	font-size: .6rem;
	padding: 0 .5rem;
}
div.mybag_bottom{
	width: 100%;
	height: 100%;
	background: #FED40C;
	-webkit-transition:all 1s;
	transition: all 1s;
	overflow: hidden;
	position: fixed;
	top: 100%;
	left: 0;
	z-index: 10;
	color: #333333;
	text-align: center;
}
div.mybag_bottom div.record{
	width: 89%;
	height: 100%;
	padding-bottom: 1rem;
	overflow-x: hidden;
	-webkit-overflow-scrolling : touch;
	position: relative;
	left: 5.5%;
	top: 0;
}
div.mybag_bottom div.record input{
	width: 8.85rem;
	height: 2.95rem;
	margin: 1.05rem 0;
	background:url(../images/pack_up.png) no-repeat center;
	background-size:auto 100%;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);
	-o-tap-highlight-color:rgba(0, 0, 0, 0);
	tap-highlight-color:rgba(0, 0, 0, 0);
}
div.mybag_bottom div.record ul{
	width: 100%;
	overflow:hidden;
	margin-bottom: 0.6rem;
	border-top: 1px #ccaa0a solid;
}
div.mybag_bottom div.record ul li{
	border-bottom: 1px #ccaa0a solid;
	padding: 0.2rem 0;
	overflow: hidden;
}
div.mybag_bottom div.record ul li p.title{
	float: left;
	line-height: 0.75rem;
	text-align: left;
}
div.mybag_bottom div.record ul li p.title span:nth-of-type(1){
	color: #333333;
	font-size: 0.9rem;
}
div.mybag_bottom div.record ul li p.title span:nth-of-type(2){
	color: #7b7869;
	font-size: 0.6rem;
}
div.mybag_bottom div.record ul li p.money{
	float: right;
	font-size: 1rem;
	line-height: 1.6rem;
}
div.mybag_bottom div.record ul li p.money span:nth-of-type(1){
	font-size: 1.1rem;
}
div.mybag_bottom div.record p.getmore{
	text-align: center;
	margin: 1rem 0;
}
#no_list{
	text-align: center;
	font-size: 1rem;
	margin: 1rem 0;
	color: #856c00;
}















