@charset "utf-8";
html,body{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑","Microsoft YaHei";
	background:url('../img/bg.png') no-repeat top left;
	background-size:100% 100%;
	overflow: hidden;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0; padding:0;}
img{border:none}
table {border-collapse: collapse; border-spacing:0;}
a:link,a:visited,a:hover,a:active{
     text-decoration:none;
}
ul,li{
	list-style: none;
}

@-webkit-keyframes active{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
div.control{
	width:1.5rem;
	height:1.5rem;
	position:absolute;
	top:1rem;
	right:0.5rem;
	z-index:999;
}
div.control img{
	width:100%;
}
.active{
	animation:active 1.5s linear infinite;
}
div.banner{
	width:100%;
	height:15rem;
	position:relative;
}
div.banner img.slogan{
    width:85%;
    display: block;
    margin:2rem auto 0;
}
@-webkit-keyframes rock{
	0%{
		transform:rotate(10deg);
	}
	8%{
		transform:rotate(-15deg);
	}
	16%{
		transform:rotate(35deg);
	}
	24%{
		transform:rotate(-15deg);
	}
	32%{
		transform:rotate(35deg);
	}
	40%{
		transform:rotate(10deg);
	}
	100%{
		transform:rotate(10deg);
	}
}
div.banner img.rock{
	transform:rotate(10deg);
	width:30%;
	top:10rem;
	left:60%;
    animation:rock 2s linear infinite;
    position: absolute;
	visibility: hidden;
}

.click_button{
	width: 3rem;
	height: 3rem;
	background: url(../img/button.png) no-repeat center;
	background-size: auto 100%;
	top:10rem;
	right:20%;
	position: absolute;
}

.click_button .small_hand{
	width: 1.5rem;
	position: absolute;
	top: 1.8rem;
	left:1.8rem;
	animation: small_hand 2s linear both infinite;
}

@keyframes small_hand{
	8%,32%,56%{
		top: 2.5rem;
		left: 2.5rem;
	}
	0%,24%,48%,72%,100%{
		top: 1.8rem;
		left:1.8rem;
	}
}


@-webkit-keyframes game{
	0%{
		transform: rotate(0deg) translate(0,0%);
	}
	10%{
		transform: rotate(0deg) translate(0,-10%);
	}
	25%{
		transform: rotate(40deg) translate(0,-10%);
	}
	40%{
		transform: rotate(-40deg) translate(0,-10%);
	}
	55%{
		transform: rotate(40deg) translate(0,-10%);
	}
	70%{
		transform: rotate(-40deg) translate(0,-10%);
	}
	85%{
		transform: rotate(40deg) translate(0,-10%);
	}
	100%{
		transform: rotate(0deg) translate(0,0%);
	}
}
div.game{
	width:100%;
	height:12rem;
	position: absolute;
	bottom:0;
	transform-origin:50% 40%;
	/* overflow: hidden; */
}
.gamemove{
	animation:game 1s linear both;
}
div.game img.base{
	display:block;
	width:80%;
	margin:3rem auto 0;
}
@-webkit-keyframes cover{
	0%{
		transform: rotate(-70deg) translate(0%,0%);
	}
	45%,100%{
		transform: rotate(0deg) translate(140.5%,22.5%);
	}
}
div.game img.cover{
	width: 71%;
    position: absolute;
    top: -5rem;
    left: -85%;
    transform: rotate(-70deg);
    transform-origin:35% 40%;
}
.coverRotate{
	animation:cover 1.4s linear alternate 2;
}
div.game img.dice1{
	width: 20%;
    position: absolute;
    top: 2.8rem;
    left: 30%;
}
div.game img.dice2{
	width: 20%;
    position: absolute;
    top: 2.5rem;
    left: 50%;
}
div.game img.dice3{
	width: 20%;
    position: absolute;
    top: 4.8rem;
    left: 21%;
}
div.game img.dice4{
	width: 20%;
    position: absolute;
    top: 5rem;
    left: 40%;
}
div.game img.dice5{
	width: 20%;
    position: absolute;
    top: 4.8rem;
    left: 60%;
}
div.mask{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color:rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div.mask #res5{
    width: 100%;
    left: 0;
    display: none;
}
div.mask img{
    width:20%;
    margin: 0 2%;
}
div.mask div{
    text-align: center;
}
div.mask #btn{
    width:40%;
    height: 2.5rem;
    margin:4rem auto 0;
    background: url('../img/btn.png') no-repeat top left;
    background-size: 100% 100%;
    border:none;
    display: block;
    position: relative;
}

@media only screen and (max-height:520px) and (min-width:360px) {
	div.banner img.rock{
		top: 9.5rem;
	}
}
@media only screen and (max-height:550px) and (min-width:380px) {
	div.banner img.rock{
		top: 9.5rem;
	}
	div.banner{
		top:-1rem;
	}
}
@media only screen and (max-height:450px) and (min-width:320px) {
	div.banner img.rock{
		top: 9.5rem;
	}
	div.banner{
		top:-1rem;
	}
	div.game{
		bottom:-1rem;
	}
}