.christmas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.christmasMask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #af8f46;
}

.christmas .christmasClose {
    position: absolute;
    top: 0.5rem;
    right: 5%;
    width: 10%;
}

.christmas .christmasBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.christmas .christmasLogo {
    width: 6.2rem;
    position: absolute;
    top: 0.5rem;
    left: -0.25rem;
    z-index: 2;
}

.christmas .christmasBling {
    width: 40%;
    position: absolute;
    top: 4rem;
    left: 5%;
    -webkit-animation: bling 1s linear both infinite;
    animation: bling 1s linear both infinite;
}

@-webkit-keyframes bling {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.line_1 {
    width: 3%;
    position: absolute;
    top: 0;
    left: 66%;
}

.line_2 {
    width: 1%;
    position: absolute;
    top: 0;
    left: 89%;
}

.star_1 {
    width: 15%;
    position: absolute;
    top: 4rem;
    left: 60%;
    -webkit-animation: rotate 3s 0.1s linear infinite;
    animation: rotate 3s 0.1s linear infinite;
}

.star_2 {
    width: 20%;
    position: absolute;
    top: 3rem;
    left: 80%;
    -webkit-animation: rotate 3s 0.2s linear infinite;
    animation: rotate 3s 0.2s linear infinite;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.christmasSlogan {
    width: 0%;
    height: 5rem;
    position: absolute;
    top: 9rem;
    left: 35%;
    overflow: hidden;
    -webkit-animation: sloganAnimat 2s linear both;
    animation: sloganAnimat 2s linear both;
}

.christmasSlogan img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

@-webkit-keyframes sloganAnimat {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.christmasMusic {
    width: 7%;
    position: absolute;
    top: 8rem;
    right: 7%;
    opacity: 0;
    -webkit-animation: musicJump 0.2s 2s linear both;
    animation: musicJump 0.2s 2s linear both;
}

@-webkit-keyframes musicJump {
    0% {
        opacity: 0;
        top: 8rem;
    }

    5% {
        opacity: 1;
        top: 8rem;
    }

    50% {
        opacity: 1;
        top: 7rem;
        z-index: 1;
    }

    100% {
        opacity: 1;
        top: 8rem;
        z-index: 1;
    }
}

.christmasLight {
    width: 10%;
    height: 6rem;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.christmasLight img {
    width: 100%;
}

.christmasLight_1 {
    left: 10%;
}

.christmasLight_2 {
    left: 30%;
}

.christmasLight_3 {
    left: 50%;
}

.christmasLight_4 {
    left: 80%;
}

.christmasLight_5 {
    left: 80%;
}

.christmasFade {
    -webkit-animation: fade 0.6s linear both;
    animation: fade 0.6s linear both;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}