html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: none;
    text-decoration: none;
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* 屏蔽苹果手机更改样式 */

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="tel"],
input[type="text"],
button,
textarea {
    -webkit-appearance: none;
}

input[type="tel"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="tel"],
input[type="text"] {
    outline: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 1;
    -webkit-opacity: 1;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑", "Microsoft YaHei";
}

.wrap {
    width: 100%;
    height: 100%;
    background: url('../img/guess/bg.png') no-repeat top left;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

/* slogan及灯光效果 */

@-webkit-keyframes shock1 {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0);
    }
}

@-webkit-keyframes shock2 {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes shock3 {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0);
    }
}

@-webkit-keyframes shock4 {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0);
    }
}

.header {
    width: 100%;
    display: block;
    margin: 0 auto;
    pointer-events: none;
    position: relative;
}

.light-1 {
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    -webkit-animation: shock1 3.2s linear infinite;
}

.light-2 {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 100% 0;
    -webkit-animation: shock2 2.8s linear infinite;
}

.light-3 {
    width: 35%;
    position: absolute;
    top: 0;
    left: 25%;
    transform-origin: 30% 0;
    -webkit-animation: shock3 2.5s linear infinite;
}

.light-4 {
    width: 50%;
    position: absolute;
    top: 0;
    left: 30%;
    transform-origin: 80% 0;
    -webkit-animation: shock4 2.2s linear infinite;
}

.slogan {
    position: absolute;
    width: 75%;
    top: 1rem;
    left: 12.5%;
}

.notice {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 0.55rem;
    position: absolute;
    top: 7.5rem;
    text-decoration: underline;
}

.select {
    width: 90%;
    margin: 0.5rem auto;
    position: relative;
    top: 8rem;
}

.select .slides {
    width: 100%;
    height: 2.2rem;
    border-bottom: 2px solid #335905;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.slide {
    width: 22%;
    height: 1.5rem;
    outline: none;
    border: none;
    border: 2px solid #325a04;
    box-sizing: border-box;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffa800;
    font-weight: bold;
    font-size: 0.55rem;
}

.active {
    -webkit-border-image: url('../img/guess/select_border.png') 0 2 0 stretch;
    /* -o-border-image: url('../img/guess/select_border.png') 0 2 0 round; */
    /* border-image: url('../img/guess/select_border.png') 0 2 0 round; */
    width: 25%;
    height: 2rem;
    box-sizing: border-box;
    font-size: 0.65rem;
    color: #feda24;
}

.content {
    width: 100%;
    height: 14rem;
    /* border-left: 2px solid #325a04;
    border-right: 2px solid #325a04; */
    border-top: none;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
    /* align-items: center; */
    align-items: flex-start;
    align-content: space-between;
    padding-bottom: 15px;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
}

.content .list {
    width: 100%;
    height: 25%;
    border-left: 2px solid #325a04;
    border-right: 2px solid #325a04;
    border-bottom: 2px solid #325a04;
    box-sizing: border-box;
}

.num {
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
}

.num img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player {
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
}

.player img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.page1 {
    display: none;
}

.page2 {
    display: none;
}

.page3 {
    display: none;
}

.page4 {
    display: none;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: none;
}

.mask img {
    width: 20%;
    display: block;
    margin: 6rem auto 0;
}

.mask .alert {
    width: 75%;
    min-height: 7rem;
    margin: -1.2rem auto 0;
    background: #0e4817;
    border-radius: 5px;
    text-align: center;
    overflow-x: hidden;
    position: relative;
}

.mask p {
    width: 95%;
    margin: 1.2rem auto 0;
    text-align: center;
    color: #ffffff;
    font-size: 0.6rem;
    line-height: 1.3rem;
}

.btns {
    width: 85%;
    margin: 0.8rem auto 0;
}

.btns input {
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 0.6rem;
    margin-bottom: 1.2rem;
}

.btns .cancel {
    float: left;
    width: 45%;
    height: 1.8rem;
    background-color: #ffffff;
    color: #888888;
}

.btns .confirm {
    float: right;
    width: 45%;
    height: 1.8rem;
    background-color: #fde236;
    color: #0e4817;
}

#choose {
    color: #fde236;
}


.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.noPointer{
    pointer-events: none;
}
.content div.selected{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    pointer-events: none;
}
.content div.selected img{
    width: 100%;
    display: block;
    margin: 1rem auto 0;
    /* margin-left: 28%; */
}
.content div.selected p{
    width: 100%;
    display: block;
    margin: 3rem auto 0;
    color: #ffffff;
    font-size: 0.6rem;
    text-align: center;
}

.rule{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    overflow: hidden;
    display: none;
}
.rule img:nth-of-type(1){
    width: 90%;
    position: absolute;
    top: 7rem;
    left: 5%;
}
.rule img:nth-of-type(2){
    width: 8%;
    position: absolute;
    top: 7.5rem;
    left: 82%;
}