@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑", "Microsoft YaHei";
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background:url('../img/l-bg.png') no-repeat top left;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

img {
    border: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* 屏蔽苹果手机更改样式 */

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="tel"],
input[type="text"],
button,
textarea {
    -webkit-appearance: none;
}

input[type="tel"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="tel"],
input[type="text"] {
    outline: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 1;
    -webkit-opacity: 1;
}

input[type='button'] {
    box-shadow: 1px 1px 1px #000;
}


.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:url('../img/l-bg.png') no-repeat top left;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-color: #ffe700;
    z-index: 10;
    display: none;
}
img.logo{
	width: 4.968rem /* 233/46.9 */;
	height: 1.5991rem /* 75/46.9 */;
	position:absolute;
	top: 1.2793rem /* 60/46.9 */;
	left: 1.2793rem;
}
.mask .tip-text {
    height: 2.1322rem /* 100/46.9 */;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: .597rem /* 28/46.9 */;
    color: #6e3200;
    position: absolute;
    top: 14.0725rem /* 660/46.9 */;
    left: 0;
}
.mask .tip-text span {
    height: .6397rem /* 30/46.9 */;
}
.l-wx-tip {
    width: 13.2196rem /* 620/46.9 */;
    height: 8.4648rem /* 397/46.9 */;
    position:absolute;
	top: 5.7569rem /* 270/46.9 */;
	left: 1.7058rem /* 80/46.9 */;
}
.mask-btn {
    width: 100%;
    position: absolute;
    bottom: 4rem;
    left: 0;
}
.mask-ck {
    width: 7.7825rem /* 365/46.9 */;
    height: 2.3241rem /* 109/46.9 */;
    z-index: 9;
    margin: 0.3rem auto 0;
    display: block;
    background: url(../img/l-btn.png) no-repeat;
    background-size: 100%;
    color: #9a4820;
    font-size: .8102rem /* 38/46.9 */;
    font-weight: bold;
    text-align: center;
    line-height: 2.0661rem /* 50/46.9 */;
}
.txOK{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    padding-top:2.8rem;
}
.qin {
    position: absolute;
    top: 4.5rem;
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    color: #ffffff;
    line-height: 1.2rem;
}

.alert {
    width: 85%;
    display: block;
    margin: 2rem auto 0;
    position: relative;
}



.logo {
    width: 25%;
    margin: .8rem 0 0 5%;
    display: block;
    position: relative;
}

div.mybag_top {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: all 1s;
    /* display: none; */
}

div.content {
    width: 100%;
    height: 19.9787rem /* 937/46.9 */;
    min-height: 1rem;
    margin: 4rem auto 0;
    position: relative;
    overflow: hidden;
}
div.content_bg{
    width: 14.7122rem /* 690/46.9 */;
    height: 100%;
    margin:0 auto;
    background: url(../img/l-mybag-info.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.content p {
    color: #b36321;
    text-align: center;
    font-size: 0.8rem;
}

div.content p.contentMain {
    margin: 2.3454rem /* 110/46.9 */ auto 0;
    vertical-align: bottom;
    color: #333;
}
div.content p.contentMain #num { 
    font-weight: bold;
}

#num {
    font-size: 2rem;
    margin-right: 0.2rem;
	line-height: 2.7rem;
}

p.addmoney,
p.balance,
p.freeze,
p.myPrize{
    font-size: .7676rem /* 36/46.9 */;
    width: 100%;
    height: 1.5352rem /* 72/46.9 */;
    line-height: 1.322rem /* 62/46.9 */;
    text-align: center;
    color: #333;
}
p.balance {
    margin-top: .2559rem /* 12/46.9 */;
}
.desc-box {
    width: 12.2814rem /* 576/46.9 */;
    text-align: center;
    margin: 1.8397rem auto 0;
}
.desc-box  p{
    color: #515151;
    line-height: .7676rem /* 36/46.9 */;
    font-size: .597rem /* 28/46.9 */;
}
/* p.balance{
    padding-top: .36rem;
} */

/*.balance {
    margin-top: 0.5rem;
}*/


.btn {
    width: 100%;
    position: absolute;
    bottom: 1.2rem;
    left: 0;
}

#btn {
    width: 7.7825rem /* 365/46.9 */;
    height: 2.3241rem /* 109/46.9 */;
    z-index: 9;
    margin: 0.3rem auto 0;
    display: block;
    background: url(../img/l-btn.png) no-repeat;
    background-size: 100%;
    color: #9a4820;
    font-size: .8102rem /* 38/46.9 */;
    font-weight: bold;
    text-align: center;
    line-height: 2.0661rem /* 50/46.9 */;
}
#btn.disabled {
    background: url(../img/l-btn-disabled.png) no-repeat;
    background-size: 7.1429rem 1.6631rem /* 78/46.9 */;
    background-position: .3412rem .2132rem;
    color: #6e6e6e;
}

.lt_xc{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.4rem;
    background: #00833a;
}
.lt_xc_con{
    width: 89%;
    margin:.9rem auto 0;
    overflow: hidden;
}
.lt_xc_con .lt{
    float:left;
    width: 47.5%;
    position: relative;
}
.lt_xc_con .lt-img{
    width: 100%;
}
.lt_xc_con .xc{
   position: relative;
    width: 47.5%;
    float: right; 
}
.lq-btn,.xc-btn{
    position: absolute;
    width: 36%;
    right: 10%;
    bottom: 20%;
}
.notice {
    margin: 0.2rem auto 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 0.5rem;
    position: relative;
}
.txTips{
    position: relative;
    text-align: center;
    color: #6e3200;
    font-size: .6397rem /* 30/46.9 */;
    padding-top: 0.8rem;
    font-weight: 560;
    /* display: none; */
}
img.l-record {
	width: 3.6247rem /* 170/46.9 */;
	height: 1.2793rem /* 60/46.9 */;
	position:absolute;
	top: 1.4072rem /* 66/46.9 */;
	right: 0;
}


img.loading {
    width: 2.5rem;
    position: absolute;
    top: 10rem;
    left: 6.5rem;
    z-index: 1;
    display: none;
}

div.mybag_bottom {
    width: 100%;
    height: 100%;
}

div.mybag_bottom div.record {
    width: 89%;
    height: 100%;
    padding-bottom: 1rem;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    left: 5.5%;
    top: 0;
}

div.mybag_bottom div.record .btn-show {
    width: 7.7825rem /* 365/46.9 */;
    height: 2.3241rem /* 109/46.9 */;
    display: block;
    margin: 1rem auto;
    border: none;
    background-image: url(../img/l-btn.png);
    background-size: 100%;
    box-shadow: none;
    text-align: center;
    overflow: hidden;
}
div.mybag_bottom div.record .btn-text {
    width: 100%;
    height: .8102rem /* 38/46.9 */;
    line-height: .8102rem /* 38/46.9 */;
    font-size: .7676rem /* 36/46.9 */;
    display: inline-block;
    margin-top: 0.6253rem;
    color: #9a4820;
    font-weight: bold;
}

div.mybag_bottom div.record ul {
    width: 88%;
	margin: 0 auto;
    overflow: hidden;
    border-top: 1px #ededed solid;
}

div.mybag_bottom div.record ul li {
    border-bottom: 1px #ededed solid;
    padding: 0.2rem 0;
    overflow: hidden;
}

div.mybag_bottom div.record ul li p.title {
    float: left;
    line-height: 0.9rem;
    color: #333;
}

div.mybag_bottom div.record ul li p.title span:nth-of-type(1) {
    font-size: 0.7rem;
}

div.mybag_bottom div.record ul li p.title span:nth-of-type(2) {
    color: #666;
    font-size: 0.6rem;
}

div.mybag_bottom div.record ul li p.money {
    float: right;
    font-size: .8rem;
    line-height: 2rem;
}

div.mybag_bottom div.record ul li p.money span:nth-of-type(1) {
    font-size: 1rem;
}

div.mybag_bottom div.record p.getmore {
    text-align: center;
    margin: 1rem 0;
    color: #fff699;
    display: none;
}
/* 大奖列表 */
.list_box{
	width: 96%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
	background: #fff;
}
.list_box .tab{
	height: 2.5rem;
	line-height: 2.5rem;
	display: flex;
	background: url(../img/list-border.png) no-repeat center;
	background-size: 2px auto;
}
.list_box .tab p{
	width: 50%;
	font-size: .7778rem;
	text-align: center;
	font-weight: bold;
	color: #ccc;
}
.list_box .tab p span{
	height: 100%;
	width: 80%;
	margin: 0 auto;
	display: block;
	box-sizing: border-box;
}
.list_box .tab p.cur span{
	border-bottom: 4px #ffcc33 solid;
	color: #333;
}
.list_box .list_hb,.list_box .list_prize{
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
/* 大奖 */
.list_box .list_prize{
	display:none ;
}
.list_box .list_prize .prize{
	display: flex;
	padding: .7rem .9rem;
	border-top: 1px #ccc solid;
	justify-content: space-between;
	min-height: 2.4rem;
}
.list_box .list_prize .prize img{
	width: 2.625rem;
}
.list_box .list_prize .prize .prizeMsg{
	margin-left: -1rem;
}
.list_box .list_prize .prize .prizeMsg p{
	font-size: .5rem;
	line-height: .65rem;
	color: #ccc;
}
.list_box .list_prize .prize .prizeMsg p.przieName{
	font-size: .69rem;
	color: #333;
	font-weight: bold;
	line-height: .69rem;
	padding-bottom: .3rem;
	width: 6rem;
}
.list_box .list_prize .prize .details{
	font-size: .55rem;
	color: #cc0000;
	border: 1px #cc0000 solid;
	border-radius: 5px;
	line-height: 1.25rem;
	height: 1.25rem;
	text-align: center;
	width: auto;
	padding: 0 .35rem;
	margin-top: .6rem;
	box-sizing: border-box;
}
.list_box .list_prize .prize .details.get{
	color: #666666;
	border: 1px #666666 solid;
}
/* 大奖信息 */
.alertMsg{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	overflow: hidden;
	display: none;
}
.alertMsg .msg_box{
	width: 13.25rem;
	overflow: hidden;
	margin: 2rem auto;
	background: #339933;
	border-radius: 5px;
	position: relative;
}
.alertMsg .msg_box .prize_title{
	width: 10.3rem;
	display: block;
	margin: 1rem auto;
}
.alertMsg .msg_box .prize_close{
	position: absolute;
	right: 0.2rem;
	top: 0.2rem;
	width: .75rem;
}
.alertMsg .msg_box>div{
	background: #fff;
	height: 1.9rem;
	box-sizing: border-box;
	border-bottom: 1px #ccc solid;
	line-height: 1.9rem;
	display: flex;
	font-size: .66rem;
}
.alertMsg .msg_box>div>span{
	color: #333;
	width: 3.75rem;
	text-align: right;
	display: block;
}
.alertMsg .msg_box>div input{
	border: 0;
	outline: none;
	font-weight: bold;
	color: #000;
	font-size: .61rem;
	font-family: '微软雅黑';
	text-indent: .5rem;
}

.alertMsg .msg_box .tj_box{
	display: block;
	overflow: hidden;
	height: 3rem;
}
.alertMsg .msg_box .tj_box p.tj{
	margin: .5rem auto;
	width: 6.5rem;
	height: 1.9rem;
	border-radius: 10px;
	line-height: 1.9rem;
	font-size: .6rem;
	text-align: center;
	color: #cc3333;
	background: #ffcc66;
	display: none;
}
.alertMsg .msg_box .tj_box p.tip{
	font-size: .8rem;
	text-align: center;
	line-height: 3rem;
	color: #339933;
	font-weight: bold;
}


.showcode{
	width: 1rem;
    height: 1rem;
    margin-top: .5rem;
}
.qrcode_box{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    overflow: hidden;
	display: none;
}
.qrcode_box .closeQrcode{
	width: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
#qrcodepage{
	margin: 6rem auto;
    background: #fff;
    padding: 1rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
#qrcodepage img{
	margin: 0 auto;
}
#yz_code{
	width: 5rem;
}
#get_yz{
	font-size: .47rem;
	color: #339933;
	border: 1px #339933 solid;
	border-radius: 5px;
	display: inline;
	line-height: 1rem;
	height: 1rem;
	text-align: center;
	width: auto;
	padding: 0 .3rem;
	margin-top: .5rem;
	box-sizing: border-box;
}

#no_list {
    text-align: center;
    font-size: .8rem;
    line-height: 1.5rem;
    color: #fff699;

}

.no_list{
    height: 13.6461rem /* 640/46.9 */;
    text-align: center;
    font-size: .8rem;
    line-height: 2.6rem;
    background: url(../img/l-nothing.png) bottom center no-repeat;
    background-size: 7.2068rem 7.2068rem;
    position: relative;
}
.nothing-text {
    width: 100%;
    text-align: center;
    font-size: .8529rem /* 40/46.9 */;
    color: #666;
    position: absolute;
    bottom: 7.4627rem /* 350/46.9 */;
    left: 0;
}
.liantong {
    width: 30%;
    position: absolute;
    top: 2.5rem;
    right: 0;
}

.footertext {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.copyright {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #b0b5c2;
    font-size: 0.45rem;
    z-index: 999;
}

.copyright a {
    color: #d5d5d5;
    font-size: 0.5rem;
    text-decoration: underline;
}

@media only screen and (min-aspect-ratio:320/520) {
    .alert {
        width: 80%;
        margin: 1rem auto 0;
    }
    .ck{
        bottom: 2rem;
    }
    .txOK{
        padding-top:1rem;
    }
    .txTips{
        font-size: .6397rem /* 30/46.9 */;
        padding-top: .2rem;
    }
}

@media only screen and (min-aspect-ratio:320/480) {
    div.content {
        margin: 2rem auto 0;
    }
    img.l-record {
        top: 0.9rem
    }
    .lt_xc {
        height: 4rem;
    }
    .lt_xc_con {
        width: 86%;
        margin: .8rem auto 0;
        overflow: hidden;
    }
    .txOK{
        padding-top:1.2rem;
    }
    .txTips{
        font-size: .6397rem /* 30/46.9 */;
        padding-top: .2rem;
    }
}
/* 冻结金额提示框 */
.desc-box .freezeTip {
	text-align: center;
	text-decoration: underline;
    color: #9b4600;
	margin-top: .4691rem /* 22/46.9 */;
}
.freezeAlert{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}
.freezeAlert img{
	display: block;
	margin: 0 auto;
	width: 100%;
}
.freezeAlert div{
	width: 100%;
	background: rgba(0,0,0,.7);
	height: 100%;
}
.freezeAlert .closeTip{
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
